
<div class="main-header-image" style="background-image: url(/assets/ideas-header.jpg);">
  <div class="title">
    <h1>ALL YOUR IDEAS, IN ONE PLACE.</h1>
  </div>
</div>

<div class="container-fluid">

  <div class="card">
    <div class="card-block">
      <i class="fa fa-cog fa-spin fa-5x"></i>
      <h4 class="card-title">Think</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-tefa-lightbulbxt">Brainstorm anytime, anywhere. <br> Your ideas are safe.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <i class="fa fa-cog fa-spin fa-5x"></i>
      <h4 class="card-title">Record</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Don't let any ideas go <br> undocumented.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <i class="fa fa-cog fa-spin fa-5x"></i>
      <h4 class="card-title">Create</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Easy access so you can act on them.</p>
    </div>
  </div>



</div>


<button class="btn btn-primary" id="get-started-button">
  <%= link_to "Get Started!", new_user_registration_path %>
</button>