
<div class="main-header-image" style="background-image: url(/assets/ideas-header.jpg);">
  <div class="title">
    <h1>ALL YOUR IDEAS, IN ONE PLACE.</h1>
  </div>
</div>

<button class="btn btn-primary" id="get-started-button">
<%= link_to "Get Started!", new_user_registration_path %>
</button>